// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shipping-options {
  overflow: scroll;
}

.ship_opt_details {
  list-style-type: none;
  font-size: .6em;
}
